body {
	font-family: 'Poppins', sans-serif;
	background: #F6F8F9;
}
/*header*/
.header {
	padding: 20px 0px 18px;
	position: fixed;
	width: 100%;
	background: #F6F8F9;
	z-index: 50;
	top: 0;
	left: 0;
}
.logo {
	font-size: 13px;
	font-weight: 800;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	text-transform: uppercase;
	color: #FA6980;
}
.navigation {
	display: inline-block;
	vertical-align: middle;
	margin-left: 92px;
}
.navli {
	display: inline-block;
	vertical-align: middle;
	margin-right: 22px;
}
.active {
	opacity: 100%;
}
.nav1 {
	color: #343638;
	font-size: 11px;
	font-weight: bold;
	opacity: 50%;
	line-height: 20%;
}

/*section1*/

.container {
    width: 1160px;
    margin: 0 auto;
    margin-top: 75px;
}
.container-title {
	font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    color: #202124;
    padding-top: 25px;
}

.left-block {
	width: 360px;
	display: inline-block;
	margin-right: 40px;
}

.middle-block {
	width: 360px;
	display: inline-block;
	margin-right: 40px;
}
.right-block {
	width: 360px;
	display: inline-block;
}
.container-blocks {
	margin-top: 40px;
}
.image-wraper {
	position: relative;
}
.image-text {
	color: #fff;
	position: absolute;
	font-size: 16px;
	top: 28px;
	left: 40px;
}
.text-wraper {
	background: #fff;
	height: 180px;
	padding: 66px 40px;
}
.block-text {
	width: 280px;
	font-size: 13px;
	line-height: 23px;
	color: #A6ADB4;
}
.time-text {
	display: inline-block;
	margin-left: 10px;
	color: #A6ADB4;
	font-size: 13px;
}
.time {
	margin-top: 10px;
}

/*section 2*/
.section2 {
	margin-top: 40px;
}
.container2-blocks {
	margin-top: 40px;
}

.left-block2 {
	width: 760px;
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}
.container2-image {
	width: 760px;
	height: 430px;
	position: relative;
	margin-bottom: 40px;
}
.container2image-text {
	position: absolute;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.right-block2 {
	width: 360px;
	height: 896px;
	display: inline-block;
	vertical-align: top;
}
.middle-image {
	margin: 102px 0px;
}








